.idea
.gradle
.settings
.classpath
.project
target/
bin/
build/
log/
rf/corba/ior/com.*
rf/corba/result/ltetdd/TEST_*
rf/corba/result/ltefdd/TEST_*
rf/corba/result/tds/test/TEST_*

common.uml
diagram.png
modules.png
ppt.pptx
